@font-face {
 font-family: 'myFont';
 src:  url('./myFont.ttf') format('tff');
 font-weight: 600;
 font-style: normal;
}


.hello {
  color:red;
  border: 1px solid black;
  /*background: url('./guppylution-logo.png');*/
  font-family: 'myFont';
}
